@import "../../styles/main.scss";

.hour-form {
  width: 300px;
  &__hours {
    @extend .flex-center;
    flex-direction: column;
  }
  &__title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  &__error {
    text-align: center;
    margin: 10px 0;
  }
  &__hour {
    width: 100px;
    padding: 10px;
    text-align: center;

    &:hover {
      background-color: $hover-color;
    }
    &--active {
      background-color: $active-color;
    }
  }
}
