@import "../../styles//main.scss";

.home {
  &__welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    min-height: 82vh;
    background-color: $beige-color;
  }
  &__title {
    @extend .title-page;
    padding: 15px;
    margin-right: 30px;
    text-transform: capitalize;
  }
  &__paragraph {
    max-width: 450px;
    font-size: 1.6rem;
    padding: 15px;
    margin-right: 50px;
    text-align: center;
  }

  &__advantage {
    padding: 15px 0;
    min-height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  &__advantage:nth-child(odd) {
    background-color: $color-1;
  }
  &__advantage:nth-child(even) {
    background-color: $color-2;
  }

  &__advantage-title {
    font-size: 2.4rem;
    text-align: center;
  }
  &__description {
    max-width: 400px;
    font-size: 1.4rem;
    text-align: center;
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .home {
    &__title,
    &__paragraph {
      margin-right: 0;
    }
    &__advantage {
      flex-direction: column;
    }

    &__advantage:nth-child(odd) {
      flex-direction: column-reverse;
    }
  }
}
@media (max-width: map-get($grid-breakpoints, md)) {
  .home {
    &__welcome {
      align-items: center;
    }
  }
}
@media (max-width: map-get($grid-breakpoints, sm)) {
  .home {
    &__description {
      margin: 0 15px;
    }
  }
}
