@import "../../styles/main.scss";

.doctor-form {
  overflow: hidden;
  &__title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  &__select {
    width: 400px;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid $color-font-black;
  }
  &__option {
    text-transform: capitalize;
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .doctor-form {
    &__select {
      width: 350px;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, xs)) {
  .doctor-form {
    &__select {
      width: 280px;
    }
  }
}
