$font-size-basic: 16px;

$color-font-black: black;
$color-font-white: white;
$color-font-gray: rgb(226, 207, 207);

$nav-color: aquamarine;
$beige-color: beige;
$button-bgc1: blue;
$disabled-color: grey;
$hover-color: aqua;
$active-color: red;
$today-color: blue;
$error-color: #ff5a33;
$dark-blue-color: #0f353d;
$available-appointment-color: rgb(79, 214, 95);
$reserved-appointment-color: rgb(255, 190, 69);
$color-1: #9eb384;
$color-2: #adc4ce;
$sunday-color: red;
$button-bgc2: #13a0dd;

$grid-breakpoints: (
  xxs: 0,
  xs: 400px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
