@import "../../styles/main.scss";

.new-appointment {
  width: 100vw;
  max-width: 100%;
  &__title {
    @extend .title-page;
  }
  &__dropdown-container {
    @extend .flex-center;
    margin: 30px 0;
  }
  &__calendar-container {
    @extend .flex-center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  &__hours-container {
    @extend .flex-center;
  }

  &__button {
    @include button($color-font-white, $button-bgc1);
    &[disabled] {
      background-color: $disabled-color;
      cursor: not-allowed;
    }
  }

  &__button-container {
    @extend .flex-center;
    margin: 20px 0;
  }
}

@media (max-width: map-get($grid-breakpoints, xs)) {
  .new-appointment {
    &__calendar-container {
      overflow-x: scroll;
      width: 100%;
      justify-content: flex-start;
    }
  }
}
