@import "../../styles/main.scss";

.new-appointment {
  width: 100vw;
  max-width: 100%;
  &__title {
    text-align: center;
    margin: 10px 0;
  }
  &__dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
  }
  &__calendar-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  &__hours-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: map-get($grid-breakpoints, xs)) {
  .new-appointment {
    &__calendar-container {
      overflow-x: scroll;
      width: 100%;
      justify-content: flex-start;
    }
  }
}
