@import "../../styles//main.scss";

.not-found {
  @extend .flex-center;
  @extend .flex-center-page;
  &__title {
    @extend .title-page;
  }
  &__description {
    font-size: 1.4rem;
  }

  &__redirect {
    font-size: 1.2rem;
    color: $disabled-color;
    &:hover {
      color: $color-font-black;
      text-decoration: underline;
    }
  }
}
